# WordPress Core Files
.htaccess
wp-config.php

# WordPress Content Directory
wp-content/

# SEO and Sitemap Files
sitemap.xml
sitemap.xml.gz

# System and Log Files
*.log
.DS_Store

# Vendor Directory
vendor/*

# IDE Files
.idea/
.vscode/
.cursor/

# Zip files
*.zip

# Testing
.phpunit.result.cache
/tests/coverage/
/coverage/
/tmp/