# WordPress Core Files
.htaccess
wp-config.php

# WordPress Content Directory
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/

# SEO and Sitemap Files
sitemap.xml
sitemap.xml.gz

# System and Log Files
*.log
.DS_Store

# Vendor Directory
vendor/.git

# IDE Files
.idea/
.vscode/

# Zip files
*.zip